// Windows version + icon resources for fsrec.
// rc.exe reads this as UTF-8 thanks to the code_page pragma below.
#pragma code_page(65001)

#include <windows.h>

IDI_APP ICON "fsrec.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION     1,0,16,0
 PRODUCTVERSION  1,0,16,0
 FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
 FILEFLAGS       0x0L
 FILEOS          VOS_NT_WINDOWS32
 FILETYPE        VFT_APP
 FILESUBTYPE     0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName",      "fsrec"
            VALUE "FileDescription",  "fsrec - NTFS 数据恢复工具"
            VALUE "FileVersion",      "1.0.16"
            VALUE "InternalName",     "recovery_server"
            VALUE "OriginalFilename", "recovery_server.exe"
            VALUE "ProductName",      "fsrec"
            VALUE "ProductVersion",   "1.0.16"
            VALUE "LegalCopyright",   "Copyright (C) 2026"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
